h1,h2,h3{ 
  font-family:Arial, Helvetica, sans-serif;  
  font-size: 16px;
   display:inline-flex; 
   margin: 0% 0% 0% 20%; 
   color: #1e1d64; 
}  

a{
  display:flex;  
  padding: 5px; 
  
}  



body{ 
  height: 90vh; 
  width: 100%; 
  background-color:#e9d7f191; 
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

}

footer{ 
   
  width: 100%;  
  padding-top: 80px;
  margin-bottom: auto;
}

  

#container_header{ 
  background-color: #c9bece; 
  margin: 1px solid #000000;

}




#pic1{ 
  height:10%; 
  width: 10%; 
  border-radius: 50%;  
  border: 1px solid #715e7c;
} 

#about{ 
  background-color: #786e99;  
  height:90%; 
  width:100%; 
  float: right; 
  margin: 2% 0% 0% 2%; 
  border-radius: 1%;
} 

#p_about{  
  font-family:Arial, Helvetica, sans-serif;  
  font-size: 32px;
   display:inline-flex; 
   margin: 0%; 
   color: #1e1d64;   
}
 
#linkedin_icon{ 
  width: 15%; 
  height: 15%; 
  padding: 1%; 
  display:inline-flex;
}  

#github_icon{ 
  width: 15%; 
  height: 15%; 
  padding: 1%; 
  display:inline-flex;
} 

#mail_icon{ 
  width: 15%; 
  height: 15%; 
  padding: 1%; 
  display:inline-flex;
} 

#redes_sociais{ 
  width: 100vw; 
  height: 50%; 
  font-family:Arial, Helvetica, sans-serif;  
  font-size: 16px; 
  font-style:bold;
  background-color:#c9bece; 
  margin: 30% 0% 0% 0%;
}

#tecnologies{ 
  display: inline-flex;  
  background-color: #786e99; 


} 
#projects{ 
  display: inline-flex; 
  margin: 2% 0% 0% 0%; 
  background-color: #786e99;
}
.btn{ 
  padding: 0%; 
  margin: 0%; 
  display: inline-flex;
}