/*Elementos HTML*/
h1,h2,h3{ 
  font-family:Arial, Helvetica, sans-serif;  
  font-size: 16px;
   display:inline-flex; 
   margin: 0% 0% 0% 20%; 
   color: #000; 
}  

a{
  display:flex;  
  padding: 5px; 
  
}  

body{ 
  background-color: #43517c !important
}

footer{ 
  background-color: #43517c;
  width: 100%;  
  padding-top: 80px;
  margin-bottom: auto;
}

 /* ID's */ 
#container_header{ 
  background-color: #182b65; 
  margin: 1px solid #000000;

}

#gif1{ 
  height:50%; 
  width: 50%; 
  border-radius: 50%;  
  border: 1px solid #715e7c;
} 

#about{ 
  background-color: #786e99;  
  height:90%; 
  width:100%; 
  float: right; 
  margin: 2% 0% 0% 2%; 
  border-radius: 1%;
} 

#p_about{  
  font-family:Arial, Helvetica, sans-serif;  
  font-size: 32px;
   display:inline-flex; 
   margin: 0%; 
   color: #000;   
}
 
#linkedin_icon{ 
  width: 15%; 
  height: 15%; 
  padding: 1%; 
  display:inline-flex;
}  

#github_icon{ 
  width: 15%; 
  height: 15%; 
  padding: 1%; 
  display:inline-flex;
} 

#mail_icon{ 
  width: 15%; 
  height: 15%; 
  padding: 1%; 
  display:inline-flex;
} 

#redes_sociais{ 
  width: 100vw; 
  height: 50%; 
  font-family:Arial, Helvetica, sans-serif;  
  font-size: 16px; 
  font-style:bold;
  background-color:#2d3e6e; 
  margin: 5% 0% 0% 0%;
}

#tecnologies{ 
  display: inline-flex;  
  background-color: #686797;  
  margin-left: 0.05%;
  margin-right: 0.1%;
  margin-top: 2%;
  


} 
#projects{ 
  display: inline-flex;  
  margin-top: 2%;
  margin-left: 0.1%;  
  background-color: #686797;
} 
#logo_lifebox{ 
  width:10%; 
  height:30%; 
  float:left;  

}
#education{ 
  display: inline-flex;  
  margin-top: 2%;
 margin-right: 0.05%;  
  background-color: #686797; 
  
}   
#logo_education{ 
  width:15%; 
  height:45%; 
  display:flex;  
  float:left;
} 

#education_description{ 
float:right; 
display:flex;
}


#experience{ 
  display: inline-flex;  
  margin-top: 2%;
  margin-left: 0.1%;  
  background-color: #686797;
} 

#logo_company{ 
  width:15%; 
  height:15%; 
  display:inline-flex;  
  float:left;

}  


#company_description{ 
  float:right; 
  display:flex;
} 
#company_title{  
  float:left;  
  position: absolute; 
}  


 /*Classes*/ 
 .card{ 
   background-color: #7977af !important; 
   border:0.5px solid #2a4186; 
   margin:10px auto auto 10px;
 }
.btn{ 
  padding: 0%; 
  margin: 0%; 
  display: inline-flex;
}